html, body {
    font-family: arial, helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

h1 {
    margin-top: 10px;
    padding: 0px;
    font-size: 3em;
    text-align: center;
}

#badgers {
    width: 100%;
    height: 100%;
    text-align: center;
}

#badgers .box {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    border: 4px solid #000000;
    border-radius: 8px;
    min-width: 276px;
    cursor: pointer;
    transition: 0.3s;
    left: calc(50% - 276px);
    bottom: calc(85% - 468px);
}

#badgers .box:hover { border-color: #FF0000; }
#badgers .box h2 { margin: 0px auto 8px auto; }
#badgers .box h3 { font-weight: normal; margin: 0px; }
#badgers .box p, h3, ul { text-align: left; }
#badgers .box img { height: 256px; transition: 1s; transform: rotateY(0deg); }
#badgers .box ul { list-style: none; margin: 2px; columns: 2; padding-left: 4px; }
#badgers .box p { margin: 5px 0px; max-width: 256px; min-height: 72px; max-height: 72px; }

#badgers .selected {
    position: absolute;
    animation: badger-pos 1.5s ease-in-out forwards;
}
#badgers .selected img { transform: rotateY(180deg); }
#badgers .selected.hit { animation: badger-pos 2s ease-in-out forwards, hit 0.1s linear 3; }

@keyframes badger-pos {
    100% {
        left: 10%;
        bottom: 220px;
    }
}
@keyframes hit {
    100% { transform: translateX(0px); }
    50% { transform: translateX(-10px); }
    0% { transform: translateX(0px); }
}

#box {
    display: none;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    padding: 20px;
    border: 4px solid #000000;
    background-color: rgba(255, 255, 255, 1);
    width: 80%;
    z-index: 1;
}

#buttons, #buttons li {
    transition: 0.3s;
}

#buttons ul {
    columns: 2;
    padding: 0px;
    margin: 0px;
    list-style: none;
}

#buttons li:nth-child(even) {
    margin-bottom: 0px;
}

#buttons ul li {
    font-size: 2em;
    padding: 8px 0px;
    margin-bottom: 10px;
    border: 4px solid #000000;
    text-align: center;
    cursor: pointer;
}

#buttons ul li:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

#msgbox {
    text-align: center;
    font-size: 2em;
    display: none;
    width: 100%;
    margin-left: -20px;
    padding: 20px;
    z-index: -1;
}
